.form-submit {
    width: 65px;
    height: 30px;
}

.form-label-prov {
    width: 100px;
}

.form-select-prov {
    width: 90px;
    margin-right: 10px;
}

.form-label-income-range {
    width: 215px;
}

.form-input-income-range {
    width: 180px;
    margin-right: 35px;
}

.calculator-result-row-button {
    padding-right: 15px;
}

.calculator-result-row-button-content {
    margin-left: 10px;
}

.calculator-result-row-content-header {
    text-decoration: underline;
    font-weight: bold;
    margin-top: 5px;
}

.generator-tr-pre-tax {

}

.generator-tr-row-post-tax {
    background-color: #d5e1cf;
}

.generator-td {
    text-align: center;
    padding: 10px;
}

.generator-td-post-pre-tax {
    padding: 5px;
}