{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Money Managment Tool</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'general.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{% static 'budget_tool.js' %}"></script>
</head>
<body>


    {% include "base_nav.html" %}

    <div class="section-spacing section-padding">
        <br />

        <div>
            <h3>Build Your Budget Below!</h3>
            <button onclick="ButtonClickSaveBudget()">Save</button>
            <button onclick="ButtonClickLoadBudget()">Load</button>
        </div>

        <br />
        <div>
            <button onclick="DisplayMonthlyExpenseForm()">Expenses</button>
            <button onclick="DisplayIncomeForm()">Income</button>
            <button onclick="DisplaySavingsGoalsForm()">Savings Goals</button>
        </div>

        <br />

        <!-- Form to add expenses -->
        <div id="expenseFormContainer">
            <form id="expenseForm">
                <div>
                    <label for="expenseLabel">Expense Label:</label>
                    <br />
                    <input id="expenseLabel" class="form-input" type="text" name="expenseLabel" required />
                </div>

                <br />

                <div>
                    <label for="expenseCost">Amount:</label>
                    <br />
                    <input class="form-input" id="expenseCost" type="number" name="expenseCost" required />
                    <select class="form-input" id="expenseFrequency" name="expenseFrequency">
                        <option value="52">Weekly</option>
                        <option value="12" selected>Monthly</option>
                        <option value="1">Yearly</option>
                    </select>
                </div>

                <br />

                <button class="form-submit-height" onclick="SubmitAddExpense(event)">Add Expenses</button>
            </form>
        </div>


        <!-- Form to add income -->
        <div id="incomeFormContainer" class="hidden-content">
            <form id="calculatorForm">
                <div>
                    <label for="incomeLabel">Income Label:</label>
                    <br />
                    <input id="incomeLabel" class="form-input" type="text" name="incomeLabel" required />
                </div>
                <br />

                <div>
                    <label for="incomeAmount">Income:</label>
                    <br>
                    <input id="incomeAmount" class="form-input" type="number" name="incomeAmount" required>
                    <select id="numPayments" class="form-input" name="numPayments" required>
                        <option value="1">Yearly</option>
                        <option value="26">Bi-weekly</option>
                        <option value="52">Weekly</option>
                        <option value="2080">Hourly (40hrs/week)</option>
                        <option value="1950">Hourly (37.5hrs/week)</option>
                        <option value="1820">Hourly (35hrs/week)</option>
                    </select>
                </div>
                <br>

                <div>
                    <div class="flex-container">
                        <label class="form-label-prov" for="incomeProvince">Province</label>
                        <label for="incomeYear">Year</label>
                    </div>

                    <div class="flex-container">
                        <select id="incomeProvince" class="form-input form-select-prov" name="incomeProvince" required>
                            <option value="AB">Alberta</option>
                            <option value="BC">British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland and Labrador</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="NU">Nunavut</option>
                            <option value="ON">Ontario</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="QC">Quebec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="YT">Yukon</option>
                        </select>
                        <select id="incomeYear" class="form-input" name="incomeYear" required>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                </div>

                <br>

                <button class="form-submit" onclick="SubmitAddIncome(event)">Add Income</button>
            </form>
        </div>

        <!-- Form to add savings goal -->
        <div id="savingsGoalsFormContainer" class="hidden-content">
            <form id="savingsGoalsForm">
                <div>
                    <label for="savingsGoalLabel">Savings Goal Label:</label>
                    <br />
                    <input id="savingsGoalLabel" class="form-input" type="text" name="savingsGoalLabel" required />
                </div>

                <br />

                <div>
                    <label for="savingsAmount">Amount:</label>
                    <br />
                    <input class="form-input" id="savingsAmount" type="number" name="savingsAmount" required />
                    <select class="form-input" id="savingsFrequency" name="savingsFrequency">
                        <option value="52">Weekly</option>
                        <option value="12">Monthly</option>
                        <option value="1" selected>Yearly</option>
                    </select>
                </div>

                <br />

                <button class="form-submit-height" onclick="SubmitAddSavingsGoal(event)">Add Savings Goal</button>
            </form>
        </div>

        <br />
        <!-- Displaying expenses -->
        <div id="monthlyExpenseContainer" class="hidden-content">
            <span class="bold p2 underline">Monthly Expenses</span>
            <button onclick="SwapEditingButtons('monthlyExpenseContainer', true)">Edit</button>
            <button onclick="SwapEditingButtons('monthlyExpenseContainer', false)" class="hidden-content">Finish Editing</button>
            <table>
                <tr>
                    <th></th>
                    <th>Label</th>
                    <th>Cost</th>
                </tr>

                <tr id="monthlyExpenseTemplate" class="hidden-content">
                    <td><button class="hidden-content">Delete</button></td>
                    <td id="label"></td>
                    <td id="cost"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Expenses Total</td>
                    <td id="expenseTotal"></td>
                </tr>
            </table>
        </div>

        <!-- Displaying income -->
        <br />
        <div id="incomeContainer" class="hidden-content">
            <span class="bold p2 underline">Monthly Income</span>
            <button onclick="SwapEditingButtons('incomeContainer', true)">Edit</button>
            <button onclick="SwapEditingButtons('incomeContainer', false)" class="hidden-content">Finish Editing</button>
            <table>
                <tr>
                    <th></th>
                    <th>Label</th>
                    <th>Pre-tax Income</th>
                    <th>Post-tax Income</th>
                    <th>Year</th>
                    <th>Province</th>
                </tr>

                <tr id="incomeTemplate" class="hidden-content">
                    <td><button class="hidden-content">Delete</button></td>
                    <td id="label"></td>
                    <td id="preTaxIncome"></td>
                    <td id="postTaxIncome"></td>
                    <td id="year"></td>
                    <td id="province"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Income Total</td>
                    <td id="preTaxIncomeTotal"></td>
                    <td id="postTaxIncomeTotal"></td>
                </tr>
            </table>
        </div>


        <!-- Displaying savings goals -->
        <br />
        <div id="yearlySavingsGoalsContainer" class="hidden-content">
            <span class="bold p2 underline">Savings Goals</span>
            <button onclick="SwapEditingButtons('yearlySavingsGoalsContainer', true)">Edit</button>
            <button onclick="SwapEditingButtons('yearlySavingsGoalsContainer', false)" class="hidden-content">Finish Editing</button>
            <table>
                <tr>
                    <th></th>
                    <th>Label</th>
                    <th>Cost</th>
                </tr>

                <tr id="yearlySavingsGoalsTemplate" class="hidden-content">
                    <td><button class="hidden-content">Delete</button></td>
                    <td id="label"></td>
                    <td id="cost"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Savings Goals Total</td>
                    <td id="savingsTotal"></td>
                </tr>
            </table>
        </div>


        <!-- Summaries -->
        <div>
            <hr />
            <table>
                <tr>
                    <td>Monthly Income</td>
                    <td id="summaryMonthlyIncome"></td>
                </tr>
                <tr>
                    <td>Monthly Expenses</td>
                    <td id="summaryMonthlyExpenses"></td>
                </tr>
            </table>

            <hr />
            <table>
                <tr>
                    <td>Calculated Yearly Disposable Income</td>
                    <td id="summaryYearlyDisplosableIncome"></td>
                </tr>

                <tr>
                    <td>Planned Yearly Disposable Income</td>
                    <td id="summaryPlannedYearlyDisplosableIncome"></td>
                </tr>
            </table>

            <hr />

            <div id="requiredIncomeContainer" class="hidden-content">

                <p class="p2 underline">Income Required For Expenses</p>
                <table>
                    <tr>
                        <td>Post-tax</td>
                        <td id="requiredIncomeExpensesYearlyPostTax">/Year</td>
                        <td id="requiredIncomeExpensesMonthlyPostTax">/Month</td>
                    </tr>
                </table>
                <br />

                <p class="p2 underline">Income Required For Goals and Expenses</p>
                <table>
                    <tr>
                        <td>Post-tax</td>
                        <td id="requiredIncomeExpensesAndGoalsYearlyPostTax">/Year</td>
                        <td id="requiredIncomeExpensesAndGoalsMonthlyPostTax">/Month</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% include "base_footer.html" %}


</body>
</html>